body 
{
    background-color: #FFFFFF;
}
.ui.menu .item img.logo 
{
    margin-right: 1.5em;
}
.main.container 
{
    margin-top: 7em;
}
.wireframe 
{
    margin-top: 2em;
}
.ui.footer.segment 
{
    margin: 5em 0em 0em;
    padding: 5em 0em;
}
.category-name, .product-name
{
    width: 100%;
    background: #000000;
    color: white;
    padding: 2px;
    padding-left: 10px;
    margin-top: -72px;
    height: 58px;
    opacity: 0.5;
    font-size: 20px;
    visibility: hidden;
    border-bottom-left-radius: 0.285714rem;
    border-bottom-right-radius: 0.285714rem;
}
#item-count
{
    color: #ffff00;
}
.small-title
{
    font-size: 11px;
}
.price
{
    text-align: center;
    font-size: 15px;
    color: #ccffcc;
}
#item-block
{
    margin-top: 50px;
}
.item-description
{
    font-size: 12px;
    text-align: left;
    text-indent: 5px;
    background: #f8f8f0;
    padding: 10px;
    border: 1px dashed #dfd5d0;
}
@font-face 
{
    font-family: GeosansLight; /* Гарнитура шрифта */
    src: local(GeosansLight), url(/assets/fonts/GeosansLight.ttf); /* Для остальных браузеров */
}
#item-title
{
    font-family: GeosansLight;
}
.item-price
{
    height: 50px; 
    font-size: 20px !important;
}
.add-to-cart
{
    margin-top: 50px;
    text-align: center;
}
.ui.selection.dropdown 
{
   margin-right: 4px;
   min-width: 9.2em;
   margin-bottom: 10px;
}
#item-id
{
    display: none;
}
#currency
{
    font-size: 15px;
    color: #94bd79;
    font-style: italic;
}
.aded-items
{
    border-top: 4px solid #004352;
    color:  #878787;
    font-size: 13px;
    z-index: 200;
}
.single-item
{
    border-top: 1px solid #dcdcdc;
}
.single-item-title
{
    font-size: 9px;
    color: #6d6d6d;
    line-height: 12px;
}
.title-separator
{
    border-top: 1px solid #adadad;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}
.item-total
{
    color: black;
}
.item-total b
{
    color: #740b1a;
}
.total-summ span
{
    color: #740b1a;
    font-family: GeosansLight;
    font-size: 25px;
}
.total-summ span font
{
    color: #6d6d6d;
}
.item-price
{
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.mini
{
    max-width: 30px;
    max-height: 30px;
}
.delete-section
{
    padding-right: 10px !important;
}
.cart-block-header
{
    font-size: 14px;
    margin-top: 20px;
    color: #6d6d6d;
    font-family: GeosansLight;
    background: #f4fbfb;
    border-top: 2px solid #c8dcdc;
    border-bottom: 1px solid #e3e3e3;
}
.empty-cart h3, .empty-cart h6
{
    margin: 0 !important;
    padding: 0 !important;
    display: block;
    width: 100%;
    font-family: GeosansLight;
    color: #6d6d6d;
}
.empty-cart
{
    text-align: center;
    width: 100%;
    margin-top: 40px;
}
.cart-block
{
    color: #6d6d6d;
    font-family: GeosansLight;
    font-size: 15px;
}
.cart-block-footer
{
    min-height: 50px;
    background: #f4fbfb;
    border-bottom: 2px solid #c8dcdc;
    border-top: 1px solid #e3e3e3;
}
.mini-field,.mini-field input
{
    max-height: 30px !important;
    max-width: 36px !important;
}
.grand-total
{
    font-family: GeosansLight;
    font-size: 12px;
    color: #254a4a;
    font-weight: bold;
}
.checkout-form, .warning-message
{
    margin-top: 20px !important;
    max-width: 90% !important;
}
.inverted-form, .inverted-form .segment, .inverted-form .segment .form
{
   min-width: 90% !important;
   max-width: 90% !important;
   margin-top: 10px !important;
}
.success-message
{
    margin-top: 20px !important;
}
#example_wrapper
{
    width: 126%;
    margin-left: -3% !important;
}
#example td
{
    font-size: 10px;
}
.edit-button-block button
{
    min-width: 13em;
    margin-bottom: 3px !important;
}
#price
{
    max-width: 50% !important;
}
.price-input span
{
    margin-top: 10px;
    margin-left: 5px;
    font-style: italic;
}
.product-categories
{
    max-width: 86% !important;
    margin-top: 5px;
    margin-bottom: 40px !important;
}
.product-name-field
{
    width: 100% !important;
    font-size: 15px !important;
}
#product-description
{
    font-size: 11px !important;
}
.product-image
{
    margin-top: 10px;
    margin-bottom: 10px;
}